<% layout('layouts/boilerplate') -%>
<div>
  <div id="cluster-map"></div>
</div>
<main class="container mt-5">
  <%- include('../partials/flash') %>
  <h1 class="text-center mb-5">All Campgrounds</h1>
  <div class="row">
    <%- include('../partials/paginate') %> <% for(let campground of
    campgrounds.docs) {%>
    <div class="col-xl-4 col-md-6">
      <div class="card mb-3">
        <% if(campground.images.length) {%>
        <img
          src="<%= campground.images[0].url %>"
          alt=""
          class="img-fluid index-img"
          crossorigin
        />
        <% } else { %>
        <img
          src="https://res.cloudinary.com/dgtch1ffs/image/upload/v1662215216/YelpCamp/kvzmm98sspf6c5phbrrc.webp"
          alt=""
          class="img-fluid"
          crossorigin
        />
        <% } %>
        <div class="card-body">
          <h5 class="card-title mb-0"><%= campground.title %></h5>
          <p class="card-text mb-2">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <p class="card-text"><%= campground.description %></p>
          <a
            class="btn btn-primary d-block"
            href="/campgrounds/<%= campground._id %>"
            >View <%= campground.title %></a
          >
        </div>
      </div>
    </div>
    <% } %> <%- include('../partials/paginate') %>
  </div>
</main>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campgrounds = { features: <%- JSON.stringify(campgrounds.docs) %> };
</script>
<script
  src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"
  crossorigin
></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
  type="text/css"
  crossorigin
/>
<script src="/scripts/clusterMap.js"></script>
